body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: Verdana;
  background-color: #3c3c3c;
}

h1 {
  font-family: Verdana;
  font-style: italic;
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-shadow: #999999 2px;
}

h2 {
  font-family: Verdana;
  font-size: 32px;
  color: rgb(255, 255, 255);
}

h3 {
  font-weight: bold;
  font-family: Verdana;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

h4 {
  font-weight: bold;
  font-family: Verdana;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

socials {
  width: 10px;
  height: 30px;
  visibility: visible;
  border-width: 2px;
  border-color: white;
  border-style: solid;
}
